echo "================= READING MY P4 CONFIG ================="
error "FORCED CRASH TO VERIFY PATH WORKS"

# 1. Load the physical Espressif USB-JTAG interface driver profile first
source [find interface/esp_usb_jtag.cfg]

# 2. Configure the GDB channel format
gdb_port pipe

# 3. Restrict OpenOCD to look ONLY for your P4 chip signature
adapter serial 80:F1:B2:D2:BC:93

# 4. Initialize the ESP32-P4 target architecture configurations
source [find board/esp32p4-builtin.cfg]
