---
Language: Cpp
BasedOnStyle: LLVM

# This forces a line break before braces for almost all contexts (Allman style)
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AccessModifierOffset: -4
IndentAccessModifiers: true
IndentWidth: 4
TabWidth: 4
UseTab: Never

---
